<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.focustech">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <application>
        <service android:name=".webtm.protocol.tm.message.MTService"></service>
        <service android:name=".webtm.protocol.tm.message.HeartBeatService"></service>
    </application>
</manifest>
